.game-block {
    margin: 0;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(31, 41, 55, 0.4);
    border-radius: 5px;
}

.piece-view {
    margin-bottom: 0.5rem;
}

.piece-i {
    background-color: #7184f0;
}
.piece-j {
    background-color: #c863f7;
}
.piece-l {
    background-color: #f763b4;
}
.piece-o {
    background-color: #63f7d2;
}
.piece-s {
    background-color: #a8f763;
}
.piece-t {
    background-color: #f7c163;
}
.piece-z {
    background-color: #63b9f7;
}
.piece-preview {
    background-color: rgba(96, 165, 250, 0.3);
}
